%h1 Editing ticket

= form_for @ticket do |f|
  = render :partial => "error", :locals => {:ticket => @ticket}
  %h2= f.label "Reporter:"
  = f.text_field :reporter
  %h2= f.label "Email:"
  = f.text_field :email
  %h3= f.label "Content:"
  = f.text_area :content
  %h3= f.label "Status:"
  = select("ticket", "ticket_status_id", TicketStatus.all.collect {|t| [ t.name, t.id ] })

  .actions
    = f.submit 'Save'

= link_to 'Show', @ticket
\|
= link_to 'Back', tickets_path